    <head>
<link rel="icon" href= "../images/book-favicon.jpg">

    </head><title> Courtney - Book Me!</title>
    <body>
            
        <h1>Courtney, Book&nbsp;&nbsp;Me</h1> 
            {{!-- <h2 class="intro"> Watch this space </h2>
            <br> --}}
            {{!-- <h2 class="skux">  &nbsp;C&nbsp; 📕&nbsp;  R&nbsp;  📕&nbsp; B &nbsp; </h2> --}}
        <div class="button_group">
            <a href ="/year"> <button type="button"> Year</button> </a>

            <a href ="/genre"><button type="button">Genre</button> </a>
            
            <a href ="/books"><button type="button">All Books</button></a>
        </div>
     {{!-- <div class="row">
     <div class="column"> --}}
        <img src= "/images/book_in_the_sun.jpeg" class= "year_col_1"  alt= "book in the sun" >
    {{!-- </div> --}}
    {{!-- <div class="column"> --}}
        <img src= "/images/courtney_reading.jpeg" class= "year_col_2"  alt= "Courtney reading in the sun in Rarotonga" >
    {{!-- </div> --}}

        <div class="container">
        <div class="row">
        <div class="col-sm-4">
                  <h3 class="header">Welcome 👋</h3>
            <p class="opening">
                Welcome to my work in progress website. I am currently studying at Enspiral's Dev Academy in Wellington, New Zealand. This is a website that I'm building to test out my skills and what I've been learning, as well as showcase the books that I've read over the last few years. Because reading is what? Fundamental. 
            </p>
            </div>
        <div class="col-sm-4">
                  <h3 class="header">Books! 📚</h3>
            <p class="opening">
                Here you'll be able to look at genres that you're interested in. You'll be able to see my top reads and be able to browse the books I've read by year. I began documenting what books I read in 2019 and have been uploading them to my Instagram story, so I thought with my new skills it would be cool to have them in their own space.
            </p>
            </div>
        <div class="col-sm-4">
                  <h3 class="header">About Me 🤔</h3>
            <p class="opening">
                If you'd like to know a little more about me, coding and my creative projects you can head on over here. I'm hoping to eventually build a feature where people can suggest books to read and authors to check out, so maybe that'll end up over here too.
                
            </p>
        </div>
        </div>
        </div>