<h1>Year Read </h1> 
  <div class="center">
 <a href = "/"> <button type="button" class="home-button">Home </button> </a>
</div>
<img class = "year_col_1" src= "../images/open_book.jpeg">
<img class = "year_col_2" src= "../images/open_book.jpeg">

